<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Ember Start Point</title>
	
    <script src="js/lib/jquery-1.9.1.js"></script>
    <script src="js/lib/handlebars-1.0.0-rc.3.js"></script>
    <script src="js/lib/ember-1.0.0-rc.1.js"></script>
    <script src="js/lib/ember-data.js"></script>

    <script src="js/app.js"></script>
	
</head>
<body>

	<h2>Hello Ember</h2>	

	<script type="text/x-handlebars" data-template-name="index">
		<h4>This is index template speaking</h4>
		good to see you!
    </script>
	
	<script type="text/x-handlebars" data-template-name="posts">
		<h4>This is posts template speaking</h4>
		{{#each post in controller}}
			{{post.title}}<br/>
			{{post.text}}<hr/>
		{{/each}}
    </script>

	<script type="text/x-handlebars" data-template-name="post">
		<h5>This is post template speaking</h5>
		<h2>{{ title }}</h2>
		<p>TEXT: {{ text }}</p>
    </script>

</body>
</html>